<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Sequelocity_PostgreSQLConnectionString" connectionString="Host=127.0.0.1;Port=5432;Username=postgres;Password=postgres;Database=Test" providerName="Npgsql"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant ="Npgsql" description ="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>
</configuration>